.Rproj.user
.Rhistory
.RData
.Ruserdata
YouTube-Zi.ipynb
output/images.zip
SNScrape Instagram - broken.ipynb
facial-emotion-detection/facial-emotion-outputs/images.zip
Hume AI (requires Python 3.8).ipynb
images-for-presentation/
